
@font-face {
    font-family: 'American-Typewriter-Regular';
    src: url('./fonts/American-Typewriter-Regular.ttf');
}

@font-face {
    font-family: 'Atlantic-Cruise';
    src: url('./fonts/Atlantic-Cruise.woff');
}

@font-face {
    font-family: 'Donatella';
    src: url('./fonts/Donatella.ttf');
}

@font-face {
    font-family: 'Hermione-Regular';
    src: url('./fonts/Hermione-Regular.otf');
}

@font-face {
    font-family: 'Lemon-Milk';
    src: url('./fonts/Lemon-Milk.otf');
}

@font-face {
    font-family: 'Midnight-Signature';
    src: url('./fonts/Midnight-Signature.otf');
}

@font-face {
    font-family: 'Steelworks-Vintage';
    src: url('./fonts/Steelworks-Vintage.ttf');
}

@font-face {
    font-family: 'Bad-Ride';
    src: url('./fonts/Bad-Ride.otf');
}


html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0; 
    background-color: #74c365;
    display: flex;
    justify-content:center;
    flex-direction: column;
}


.header{
    background-color:#4e6f34;
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 0.1px;
    font-family: Atlantic-Cruise;
    padding: 1%;
    font-size: 1.5vh;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    width: 100%;

}

.comingsoon{
     width: 100%;
    padding: 0;
    margin: 0; 
    position: relative;
    text-align: center;
    width: 100%;
    position: relative;
}

.comingsoon h1 {
    font-family:  Lemon-Milk;
    font-size: 11vw;
    color: white;
    letter-spacing: -0.01em;
    z-index: 2000;
    margin-bottom: -2%;
    text-align: center;
    text-shadow: 2px 2px black;
    position: relative;
}

.comingsoon h2 {
    font-family: Lemon-Milk;
    font-size: 9vw;
    color: white;
    letter-spacing: -0.01em;
    z-index: 2000;
    margin-top: -6%;
    margin-bottom: 3%;
    text-align: center;
    text-shadow: 2px 2px black;
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    position: relative;
}


.contact{
    background-color: #4e6f34;
    width: 100vw;
    display: flex;
    align-self: center;
    margin-top: -2%;
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    border-bottom: 4px solid #ddd454;
    border-top: 4px solid #ddd454;

        
}

.contact p{
    color: white;
    font-size: 2.3vw;
    font-family: Atlantic-cruise;
    letter-spacing: 0.2em;
    text-shadow: 1px 1px black;
    margin-right: 10%;
    margin-left: 0%;
    text-align: right;
}

.socialcontainer{
    width: 100vw;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.social{
    width: 100vw;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 5%;
    align-self: center;
    text-align: center;
}

.social p{
    text-align: center;
    margin-top: -2%;
    font-family: lemon-milk;
    color: white;
    font-size: 1vw;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.socialone{
    transition: 0.5s ease;
    background-color: white;
    border-radius: 50%;
    padding: 5%;
    width: 4vw;
    height: 4vw;
    margin: 0%;
}

.socialone:hover{
box-shadow: 3px 3px black;
transition: 0.8s ease;
cursor: pointer;
}

.socialone img {
    width: 4vw;
    height: 4vw;
    padding: 0;
    margin: 0;
}

.socialone img:hover {
    transition: 0.5s ease;
    cursor: pointer;
}

.social a {
    border-bottom: 0px solid transparent;
}

.social a:hover {
    border-bottom: 0px solid transparent;
}


.footer {
    font-family: American-Typewriter-Regular;
    position: relative;
    bottom: 0;
    padding-bottom:1%;
    color: #000000;
    font-size: 1vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    width: 100%;
    padding-top: 20%;
}

.footer a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 0.1px;
    transition: color ease 0.3s;
    padding: 0.5%;
}

.footer a:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 12%;
    left: 0;
    bottom: 0;
    background-color: #4e6f34;
    transition: all ease 0.3s;
}

.footer a:hover {
    color: white;
}

.footer a:hover::after {
    height: 100%;
}


.comingsoon img{
    max-width: 30vw;
    z-index: 1000;
}

